{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<!-- blog-css -->
	</head>
	<body>
		<div class='nav'>
			<div class='nav-table'>
				<div class='nav-table-col'>
					<div class='nav-home-button'>
					</div>
				</div>
				<div class='nav-table-col'>
					<div class='nav-search-container'>
						<form id='blog-search-form' class='search-bar' action="/blog/search-results/" method="GET">
							<input type="text" name="search" class="search-bar" placeholder="Search...">
						</form>
					</div>
				</div>
				<div class='nav-table-col'>
					<div class='nav-btn'>
						<button>Archive</button>
					</div>
				</div>
			</div>
		</div>
		<div id='content'>
		{% block 'content' %}
			<div class='no-content'>
				No posts found
			</div>
		{% endblock %}
		</div>
	</body>
</html>


