/* general specifications */
* {
	margin: 0px;
	padding: 0px;	
	position: relative;
	/* debug */
	/*border: 1px solid #FFF;*/
	/*text-shadow: 0px 0px 5px #777;*/
}
html, body {
	position: absolute;
	background: black;
}

a:hover {
	cursor: crosshair;
}
#mail-icon {
	cursor: crosshair;
}

::selection {
	color: ;
	text-shadow: 2px 2px #0BA;
	background: #FFF;
}


.right {
	float: right;
}
.left {
	float: left;
}
.sticky {
	
}

/* front menu */
.menu-section {
	font-family: 'futura','Andale Mono','verdana','times new roman','courier';
	width: 100%;
	height: 33%;
}
.menu-link {
	height: 35%;
	width: 49%;
	color: #FFFFFF;
}
.menu-link:hover {
	color: #00AAFF;
	cursor: crosshair;
	opacity: .7;
}
.link-section {
	color: #FFFFFF;
	width: 100%;
	height: 50%;
}
.name-link {
	width: 100%;
	height: 35%;
	text-align: center;
}


/* Background classes */
.layer {
	top: 0px;
	left: 0px;
	position: absolute;
}

/* Main page navigation bar */
.nav-home {
	text-align: center;
	float: left;
}
.nav-home:hover {
	text-align: center;
	float: left;
	cursor:crosshair;
	background: yellow;
	background: -webkit-linear-gradient(#000, #022, #00AAFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.nav-btn {
	float: right;
	text-align: center;
}
.nav-btn:hover {
	color: #0077BB;
	text-shadow: 1px 1px black;
	cursor: crosshair;
}
.active {
	color: #112211;
	opacity: .5;
}
.active:hover {
	color: #112211;
	opacity: .5;
	text-shadow: none;
	cursor: default;
}
.nav-table {
	width: 100%;
	height: 10%;
}
.nav-table-col {
	width: 50%;
	height: 100%;
	overflow: visible;
}
.nav-table-row {
	display: none;
	width: 100%;
	height: 50%;
	text-wrap: none;
	overflow: visible;
}
.nav-item {
	color: #112211;
	font-family: "Magistral Web Compressed",Impact,sans-serif;
	white-space:nowrap;
	overflow: visible;
	margin-left: 2px;
}
.page {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

/* content display cards */
.section-card {
	width: 100%;
	font-family: 'courier new', sans-serif;
	color: #FFFFFF;
	display: none;
}
.section-card * {
	overflow: hidden;
}
.bin {
	overflow:hidden;
}
.section-title {
	font-family: 'optima','candara','arial', sans-serif;
}
.card-footer {
	width: 100%;
	height: 10px;
}
.thin {
	height: 20px;
}
.thick {
	height: 30px;
}
.card-title {
	font-size: 1.5em;
	text-align: left;
}
.card-desc,.card-duration {
	font-size: 1.25em;
	text-align: left;
}
.backdrop-image {	
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 105%;
	overflow: hidden;
}
.section-div {
	width: 100%;
}
.preview-image-container {
	width: 39%;
}
.preview-image {
	max-width: 100%;
}
.preview-text {
	width: 59%;
}


/* set the z index for the items related to the stickies */
.sticky {
	z-index: 3;
}
.sticky-container {
	z-index: 2;
}
.sticky-container *:not(.sticky *) {
	z-index: 1;
}
#page-nav {
	z-index: 4;
}

/* contact page */
.contact-icon {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%); 
}
.contact-icon:hover {
	width: 100px;
	height: 100px;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	filter: grayscale(0%); 
}
.contact-list-item {
	float: left;
}
.contact-list {
	width: 100%;
}
.contact-list li {
	display: inline;
	list-style-type: none;
}
.contact-item-link {
	text-decoration:none;
}




/* id specific attributes */
#bg-img {
	position: absolute;
	top: 0px;
	left: 0px;
	background: none;
	overflow: hidden;

}
#menu {
	width: 100%;
	height: 100%;
	display: block;
	overflow: visible;
	/*
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 42%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(25%,rgba(0,0,0,1)), color-stop(42%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,0) 42%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,0) 42%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,0) 42%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
	background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,0) 42%,rgba(0,0,0,0) 75%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
	*/
}
#content {
	width: 0px;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
	background: none;
	overflow: hidden;
}
#page {
	/*box-shadow: 0px 0px 20px #999;*/
}
#page-nav {
	overflow: hidden;
	border-bottom: 2px solid #8FBFDF;
}
#page-content {
	overflow: auto;
	width: 100%;
	height: 90%;
	background: black 0%;
}
#content-storage {
	display: none;
}
#resume-header {
	text-align: center;
	
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * Reflect text CSS, credit to:
 *     http://yichuanshen.de/demos/reflectedtext/
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


.reflected:before, .reflected:after {
	display: block;
	position: absolute;
	bottom: -.9em; /* You should change this value to fit your font */
	left: 0;
	right: 0;
}
.reflected:before {
	content: 'Joe Yuan';
	opacity: .4;
	-webkit-transform: scaleY(-1);
	   -moz-transform: scaleY(-1);
		 -o-transform: scaleY(-1);
}
.reflected:after {
	background: -webkit-gradient(linear, left top, left center, from(rgba(0,0,0,0)), to(rgb(0,0,0)));
	background: -moz-linear-gradient(top, rgba(0,0,0,0), rgb(0,0,0));
	content: ' ';
	height: 1em;
}


