input {
	text-align: center;
}
.solved {
	color: red;
}
.cell {
	width: 50px;
	height: 50px;
	font-size: 150%;
	float: left;
	border: 0px;
	box-shadow: 0px 0px 5px 0px #444;
}
.cell:focus {
	background: yellow;
}
.print {
	color: blue;
}
.solved-true {
	color: green;
}
.error-true {
	background: red;
}
.btn-container {
	margin-top: 5px;
	clear: both;
}
.ctrl-btn {
	width: 157px;
	height: 50px;
	font-size: 200%;
}
.info {
	font-size: 150%;
}
.error-info-true {
	color: red;
	font-size: 200%;
}
.error-info-false {
	color: green;
	font-size: 200%;
}


.row-C {
	border-bottom: 2px solid #006;
}
.row-D {
	border-top: 2px solid #006;
}
.row-F {
	border-bottom: 2px solid #006;
}
.row-G {
	border-top: 2px solid #006;
}
.col-3 {
	border-right: 2px solid #006;
}
.col-4 {
	border-left: 2px solid #006;
}
.col-6 {
	border-right: 2px solid #006;
}
.col-7 {
	border-left: 2px solid #006;
}

