input {
	text-align: center;
}
.solved {
	color: red;
}
.cell {
	width: 50px;
	height: 50px;
	font-size: 150%;
	float: left;
	box-shadow: 0px 0px 2px 0px #000;
}
.cell:focus {
	background: yellow;
}
.print {
	color: blue;
}
.solved-true {
	color: green;
}
.error-true {
	background: red;
}
.btn-container {
	margin-top: 5px;
	clear: both;
}
.ctrl-btn {
	width: 255px;
	height: 50px;
	font-size: 200%;
}
.info {
	font-size: 150%;
}
.error-info {
	color: red;
	font-size: 200%;
}


.row-C {
	border-bottom: 5px solid black;
}
.row-F {
	border-bottom: 5px solid black;
}
.col-3 {
	border-right: 5px solid black;
}
.col-6 {
	border-right: 5px solid black;
}

