{% load staticfiles %}
	<!---->
<div class='item-bin'>
	<div class='section-card section-title sticky-placeholder'>
		<div class='card-title sticky'>
			<img class='backdrop-image' src="{% static "img/backdrops/section-header-img.png" %}">
				<span class='content'><h2>Contact Information</h2></span>
			</img>
		</div>
	</div>
	<div class='section-card section-item'>
		<div class='card-title'>
			Below is my contact information, feel free to contact me through any of the means provided.
		</div>
		<div class='card-desc'>
			<ul class='contact-list card-image'>
				<li class='contact-list-item'>
					<a class="email-link" href="javascript:void(0)" onclick="sneaky();">
						<img id="mail-icon" class='contact-icon' src='{% static "img/social_icons/mail-icon-hover.png" %}'/>
					</a>
				</li>
				<li></li>
				<li></li>
				<li class='contact-list-item'>
					<a class='phone-link'>
						<img id="phone-icon" class='contact-icon' src='{% static "img/social_icons/phone-icon-hover.png" %}'/>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!---->
</div>
<div class='item-bin'>
	<div class='section-card section-title sticky-placeholder'>
		<div class='card-title sticky'>
			<img class='backdrop-image' src="{% static "img/backdrops/section-header-img.png" %}">
				<span class='content'><h2>Social Media Links</h2></span>
			</img>
		</div>
	</div><!-- card -->
	<div class='section-card section-item'>
		<div class='card-desc'>
			<ul class='contact-list card-image'>
				<li class="contact-list-item">
					<a id="gh" class="contact-item-link" href="https://github.com/joeyuan19" target="_newtab">
						<img id="gh-icon" class="contact-icon" src="{% static "img/social_icons/gh-icon-hover.png" %}"></img>
					</a>
				</li>
				<li class="contact-list-item">
					<a id="tw" class="contact-item-link" href="https://twitter.com/JoeYuan19" target="_newtab">
						<img id="tw-icon" class="contact-icon" src="{% static "img/social_icons/tw-icon-hover.png" %}"></img>
					</a>
				</li>
				<li class="contact-list-item">
					<a id="fb" class="contact-item-link" href="https://www.facebook.com/joe.yuan54" target="_newtab">
						<img id="fb-icon" class="contact-icon" src="{% static "img/social_icons/fb-icon-hover.png" %}"></img>
					</a>
				</li>
				<li class="contact-list-item">
					<a id="li" class="contact-item-link" href="https://www.linkedin.com/pub/joseph-yuan/78/5a0/167/" target="_newtab">
						<img  id="li-icon"class="contact-icon" src="{% static "img/social_icons/li-icon-hover.png" %}"></img>
					</a>
				</div>
			</ul><!-- contact-list -->
		</div><!-- card-desc -->
	</div><!-- card -->
</div>
	<script style='display: none;'>
	$("#mail-icon").click(sneaky);
	</script>
