{% load staticfiles %}
<div class='section-card section-title'>
	<div class='card-title'>
		<img class='backdrop-image' src="{% static "img/backdrops/page-header-img.png" %}">
			<h2>PROJECTS</h2>
		</img>
	</div>
	<div class='card-desc'>
		Projects I am or have worked on.  Feel free to use any of the code and/or information here.  I only ask that you are polite about where you got it!
	</div>
</div>
<div class='section-card section-item'>
	<div class='card-title'>
		<img class='backdrop-image' src="{% static "img/backdrops/section-header-img.png" %}">
			<h2>PHYSICS SIMULATIONS</h2>
		</img>
	</div>
</div>
<div class='section-card section-item'>
	<div class='card-title'>
		Masses on a String
	</div>
	<div class='card-desc'>
		<div class='preview-image-container left'>
			<img class='preview-image' src="{% static "img/project_previews/masses-on-string.png" %}"></img>
			</img>
		</div>
		<div class='preview-text right'>
			A simulation of a string with tension and masses placed at equal separation along the string.  Contains controls to adjust the physical properties and environment varaibles.  Keyboard controls are enabled.  Requires plugins to support running Java applets.  Alternatively you can download the source files <span><a>here</a></span>. Written in Java. 
		</div>
	</div>
</div>
<div class='section-card section-item'>
	<div class='card-title'>
		<img class='backdrop-image' src="{% static "img/backdrops/section-header-img.png" %}">
			<h2>PUZZLES</h2>
		</img>
	</div>
</div>
<div class='section-card section-item'>
	<div class='card-title'>
		Sudoku Solver
	</div>
	<div class='card-desc'>
		<div class='preview-image-container left'>
			<img class='preview-image' src="{% static "img/project_previews/sudoku.png" %}"></img>
			</img>
		</div>
		<div class='preview-text right'>
			Uses logical elimination techniques to solve sudoku puzzles.  This implemenation is written in Java in order to display it on the web.  There are also versions I have written in Python as a <span><a>command line</a></span> application and also as a <span><a>GUI</a><span> '.app' version.
			<br>
			Java Source Files
		</div>
	</div>
</div>
<div class='section-card section-div'>
	<div class='card-footer thin'>
		<img class="backdrop-image" src="{% static "img/backdrops/section-div.png" %}"></img>
	</div>
</div>






