{% load staticfiles %}
	<!---->
<div class='item-bin'>
	<div class='section-card section-title sticky-placeholder'>
		<div class='card-title sticky'>
			<img class='backdrop-image' src="{% static "img/backdrops/page-header-img.png" %}">
				<h2>PROJECTS</h2>
			</img>
		</div>
	</div>
	<div class='section-card section-item'>
		<div class='card-desc'>
			Feel free to use any of the code and/or information here.  I only ask that you are polite about where you got it!
		</div>
	</div>
</div>
<div class='item-bin'>
	<div class='section-card section-title sticky-placeholder'>
		<div class='card-title sticky'>
			<img class='backdrop-image' src="{% static "img/backdrops/section-header-img.jpg" %}">
				<h2>PHYSICS SIMULATIONS</h2>
			</img>
		</div>
	</div>
	<div class='section-card section-item'>
		<div class='card-title'>
			Masses on a String
		</div>
		<div class='card-desc'>
			<div class='preview-image-container left'>
				<img class='preview-image' src="{% static "img/project_previews/masses-on-string.png" %}"></img>
				</img>
			</div>
			<div class='preview-text right'>
				A simulation of a string with tension and masses placed at equal separation along the string.  Contains controls to adjust the physical properties and environment varaibles.  Keyboard controls are enabled.  Requires plugins to support running Java applets.  Alternatively you can download the source files <span><a>here</a></span>. Written in Java. 
			</div>
		</div>
	</div>
	<!---->
</div>
<div class='item-bin'>
	<div class='section-card section-title sticky-placeholder'>
		<div class='card-title sticky'>
			<img class='backdrop-image' src="{% static "img/backdrops/section-header-img.jpg" %}">
				<h2>PUZZLES</h2>
			</img>
		</div>
	</div>
	<div class='section-card section-item'>
		<div class='card-title'>
			Sudoku Solver
		</div>
		<div class='card-desc'>
			<div class='preview-image-container left'>
				<a class='project-link' href='{% url 'sudoku' %}'> 
					<img class='preview-image' src="{% static "img/project_previews/sudoku.jpg" %}"></img>
					</img>
				</a>
			</div>
			<div class='preview-text right'>
				Uses logical elimination techniques to solve sudoku puzzles.  This implemenation is written using AngularJS and Ajax calls with a python implementation in order to display it on the <a class='project-link' href='{% url 'sudoku' %}'>web</a>.  There is also a Java Applet version I made.  There are also versions I have written in Python as a <span><abbr title="Link not set up">command line</abbr></span> application and also as a <span><abbr title="Link not set up">GUI</abbr><span> '.app' version.
				<br>
				Java Source Files
			</a>
			</div>
		</div>
	</div>
	<div class='section-card section-div'>
		<div class='card-footer thin'>
			<img class="backdrop-image" src="{% static "img/backdrops/section-div.jpg" %}"></img>
		</div>
	</div>
</div>




