{% load static %}
{% load dajaxice_templatetags %}
<html>
	<head>
	</head>
	<body>
		<object codetype="application/java" classid="java:{% static "code/string-mass/StringMass.class" %}" archive="{% static "code/string-mass/string-mass.jar" %}" width="740" height="400"></object>
		<applet codebase="{% static "code/string-mass/bin" %}" code="StringMass" archive="{% static "code/string-mass/string-mass.jar" %}" width=1100 height=1000>Sorry your browser does not support this applet.  This applet requires a Java plugin.  If you are using an Apple computer running OS X, you will likely have to use Safari and approve the application due to a security dispute between Apple and Oracle.</applet>
	</body>
</html>



