<!DOCTYPE html>
{% load staticfiles %}
<html ng-app='testApp'>
	<head>
		<script src='{% static 'js/angular.min.js' %}'></script>
		<script src='{% static 'js/ang-test.js' %}'></script>
	</head>
	<body>
		<div ng-controller='Test'>
			<div ng-repeat='j in info'>
				<div ng-repeat='i in j'>
					<input type='text' maxlength='1' size='1' ng-model='i.value' ></input>
				</div>
			</div>
			<p>Current Value: <span>[[value]]</span></p>
			<button ng-click='inc()'>add 1</button>
			<button ng-click='inc2()'>Add Array</button>
		</div>
	</body>
</html>



